:root {
    /* text */
    --text-blue:hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-vdkblue:hsl(237, 12%, 33%);
    --text-dkblue:hsl(240, 6%, 50%);
    /* background */
    --gradient-violet:hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    /* dividers */
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
    
}

*,*::before,*::after {
    box-sizing: inherit;
    
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 10rem 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(
        var(--gradient-violet),
        var(--gradient-blue)
        );
    color: var(--text-blue);
}

h1,h2,h3 {
    margin-top: 0;
}
h1{
    text-align: center;
}

.card {
    
    background: #fff;
    border-radius: 15px;
    max-width: 56.25rem;
    /* margin: 1rem; */
    padding: 0 1.25rem 2.875rem 1.25rem;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: center 0%;
}

.box-card {
    display: none;
}
.img-card{
    position: relative;
}
.img-card img {
    position: absolute;
    top: -6.8rem;
    left: 50%;
    transform: translateX(-50%);
    display:block;
    width: 100%;
    max-width: 15rem;
    height: auto;
}

.text-card{
    padding-top: 7rem;
}

.accordion-item{
    padding-top: 1rem;
    border-bottom: 1px solid var(--divider-blue);
}
.accordion-item h2{
    margin-bottom: 0;
}
.accordion-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.875rem; 
}
.accordion-question:focus,
.accordion-question:focus-visible {
    outline: solid 1px var(--text-dkblue);
}
.accordion-question::after{
    content: '';
    display: block;
    width: 0.625rem;
    height: 1rem; 
    background-image: url('./images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out;
}
.accordion-question.open {
    
    font-weight: 700;
}
.accordion-question.open::after{
    transform: rotate(180deg);
}
.accordion-content { 
    font-size: 0.75rem;
    line-height: 1.4;
    margin-bottom: 1rem; 
    padding: 1rem;
}

.accordion-collapse.collapse {
    display: none;
}
.accordion-collapse.collapsing {
   height: 0;
   overflow: hidden;
   transition: height .3s ease-in-out;
}
.accordion-collapse.open {
    display: block;
}

/* DESKTOP VIEW */
@media (min-width: 56.25em) {

    body {
        padding: 5rem; 
    }
    h1{
        text-align: left;
    }
    .card {
        position: relative;
        display: flex;
        margin: 0  auto;
        padding: 4.375rem 6.25rem 4.375rem 0;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 45%;
        background-position: -13% center;
    }

    .box-card {
        display: block;
        position: absolute;
        z-index: 1;
        top:57%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
       
    }

    .img-card,
    .text-card {
        flex: 1;
    }

    .img-card {
        display: flex;
        align-items: center;
        overflow: hidden;
        
    }
    .img-card img {
        position: relative;
        top: auto;
        left: auto;
        max-width: 25rem;
        transform: translateX(-4rem);
        
        
    }

    .text-card{
        padding-top: 0;
    }
   
}


